<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ERROR</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="home.js"></script>
</head>
<body>
  <div class="container">
    <h1>ERROR:</h1>
    <pre><%= error %></pre>
  </div>

</body>
</html>