.towerContainer {
  font-family: sans-serif;
    margin: auto;
    display: block;
    padding-top: 60px;
    text-align: center;
}
.disk {
    border: 5px solid rgba(0, 0, 0, 0.5);
    background: none;
}
.disk:hover {
    border: 5px solid rgba(0, 0, 0, 0.8);
    background: none;
}
.tower {
    border: 5px solid rgba(0, 0, 0, 0.5);
    background: none;
    padding: 50px 10px 0px 10px;
    display: inline-block;
    margin: 20px;
    width: 15%;
    min-height: 200px;
    position: relative;
}
.handler {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: white;
    line-height:30px;
    height: 25px;
    transition: .2s all ease-in-out;
    cursor: pointer;
    z-index: 99;
}
.handler:hover {
  height: 30px;
  line-height:33px;
}
.disk {
    height: 30px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}
.disk.selected{
  background: rgba(0, 0, 0, 0.5);
}
#disk1 {
    width: 50px;
}
#disk2 {
    width: 75px;
}
#disk3 {
    width: 100px;
}



#AmazingAdnyyy {
    position: absolute;
    right: 5%;
    bottom: -30px;
    opacity: 0.5;
    box-shadow: inset 0px 0px 3px 0px black;
    transition: 1s all ease-in-out;
    z-index: 1;
    transform: scale(1.4);
    background: white;
}
#AmazingAdnyyy img {
    width: 160px;
}
#AmazingAdnyyy:hover {
    bottom: -20px;
    opacity: 1;
    transition: .25s all ease-in-out;
    transform: scale(1.42);
}
#AmazingAdnyyy:active {
    transform: scale(1.40);
    opacity: 1;
}
