
body{
  font-family: 'Lato', sans-serif;
}
.containerCus {
  padding-top: 70px;
}

.template {
  display: none;
}
.image, .leadingIcon{
  opacity: 0.9;
  /*box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.8);*/
  border: 2px solid #eee;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  transition: .1s all ease-in-out;
}
.image {
  margin-bottom: 40px;
  transform: scale(2);
}
.leadingIcon{
  width: 50px;
  height: 50px;
  box-shadow: inset 0px -1px 8px 1px rgba(0,0,0,0.7);
}
.image:hover{
  opacity: 1;
  transform: scale(1.05);
}
.imageContainer{
  margin-top: 50px;
}

input {
  font-family: 'Inconsolata';
}

.card {
  position: relative;
  text-align: center;
  margin-top: 10px;
  padding: 40px 50px 100px 50px;
  background: #fff;
  /*border: 2px solid #eee;*/
  border-radius: 5px;
}

.sample {
  position: absolute;
  width: 100%;
  background: #eee;
  color: black;
  padding: 10px 5px 40px 5px;
  bottom: 0px;
  left: 0;
  line-height: 40px;
}

.sample span {
  font-family: 'Inconsolata';
  width: 80%;
  background: #343C4B;
  color: #8EDB43;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 10px;
}

.calculatorAnswerIs, .analyzerResultIs,.ageCalculatorAnswerIs{
  font-size: 1em;
  display: block;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.calculatorAnswer,.ageCalculatorAnswer{
  /*padding-top: 30px;*/
  font-size: 7em;
  font-weight: 100;
  padding-bottom: 50px;
}
.analyzerContainer {
  text-align: left;
}
.analyzerContainer .analyzerResultIs {
text-align: center;;
}

.analyzerContainer .subContainerleft {
text-align: right;
font-size: 2em;
font-weight: 100;
}
.analyzerContainer h8 {
  padding-left: 20px;
  font-weight: 600;
  line-height: 2.9em;
  font-size: 1.03em;
}



.calculatorForm .col.s2 {
  width: 70px;
}
