.navbar {
    border-radius: 0px;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 2px 0px rgba(0.0.0.0.3);
}
.navbar-brand {
    float:none;
    font-size: 2em;
}
table th{
    cursor: pointer;
    
}
